<%- include('../partials/html-head') %>
<%- include('../partials/nav') %>

<main>
  <div>
    <img 
      class="profile-avatar"
      src="<%= profile.avatar %>" 
      alt="<%= profile.name %>'s avatar"
    >
  </div>
  <h1>Coffee Break!</h1>

  <% if (user) { %>
    <h2>Hey there, <%= user ? user.profile.name : "friend" %>! Grab your favorite cup of coffee and let's talk all things plants! ☕️🪴</h2>
  <% } %>

  <% if (isSelf)  {%> 
    <form action="/profiles/<%= profile._id %>/coffees" method="POST">
      <label for="coffee-select">Coffee Type:</label>
      <select name="coffeeType" id="coffee-select">
        <option value="Coffee">Regular coffee</option>
        <option value="Cold Brew">Cold Brew</option>
        <option value="Latte">Latte</option>
        <option value="Americano">Americano</option>
      </select>
      <label for="temperature-select">Hot/Iced:</label>
      <select name="temperature" id="temperature-select">
        <option value="Hot">Hot</option>
        <option value="Iced">Iced</option>
      </select>
      <label for="milk-select">Milk Type:</label>
      <select name="milk" id="milk-select">
        <option value="Whole">Whole</option>
        <option value="2%">2%</option>
        <option value="Almond">Almond</option>
        <option value="Oat">Oat</option>
        <option value="Soy">Soy</option>
      </select>
      <button type="submit">Add Coffee ☕️</button>
    </form>
  <% } %>
  <% if (profile.coffees.length)  {%>
    <h2>
      <%= isSelf ? "Your coffee is ready!" : `${profile.name} has added their favorite coffee` %>
    </h2>
    <% profile.coffees.forEach(coffee => { %>
      <h3>
        Coffee Type: <%= coffee.coffeeType %>,
        Temperature: <%= coffee.temperature %>,
        Milk: <%= coffee.milk %>
        <% if (isSelf) { %> 
          <form 
            action="/profiles/coffees/<%= coffee._id %>?_method=DELETE" 
            method="POST"
            style="display: inline-block;"
          >
            <button type="submit">Delete this <%= coffee.coffeeType %> ☕️</button>
          </form>
        <% } %>
      </h3>
    <% }) %>



  <% } else { %>
    <h2>
      <%= isSelf ? "You don't" : `${profile.name} doesn't` %> have any coffee
    </h2> 
  <% } %>
</main>

<%- include('../partials/footer') %>