<%- include('./partials/html-head') %>
<%- include('./partials/nav') %>

<main>
  <h1>Coffee Meets Plants</h1>
  <!-- <h2>Welcome back, <%= user ? user.profile.name : "friend" %></h2> -->
  <!-- <% if (user?.profile.avatar) { %>
    <div>
      <img
      src="<%= user.profile.avatar %>"
      alt="<%= user.profile.name %> avatar"
      />
    </div>
    <% } %> -->
    <% if (user) { %>
      <h2>Welcome back, <%= user ? user.profile.name : "friend" %></h2>
    <% } %>
    <img class="coffee-monstera" src="../images/monstera-coffee.jpeg">
  </main>

<%- include('./partials/footer') %>
