<%- include('../partials/html-head') %>
<%- include('../partials/nav') %>

<section>
  <h1>My Plants! 🪴</h1>
  <% if (user) { %>
    <h2>Add a Plant!</h2>
    <form action="/plants" method="POST">
      <label>
        Common Name: 
        <input type="text" name="name" autocomplete="off">
      </label>
      <label>
        Scientific Name: 
        <input type="text" name="scientificName" autocomplete="off">
      </label>
      <label for="water-input">Date Watered:</label>
      <input type="date" name="waterDate" id="water-input">
      <button type="submit">Add Plant</button>
    </form>
    <% } %>
    <h2>All the Plants!</h2>
    <ul>
    <% plants.forEach(plant => { %>
      <li>🪴 <a href="/plants/<%= plant._id %> "><%= plant.name %></a> was watered on <%= plant.waterDate %></li>
    <% }) %>
    </ul>
</section>

<%- include('../partials/footer') %>